<div class="daisy-grid__column daisy-grid__column--one-quarter">
    <div class="card">
        <div class="card__content">
            <div class="about-card">
                <div><img class="daisy-avatar daisy-avatar--large" src="/img/avatar.jpg" alt="apolo2" title="Gabriel Geraldino"></div>
                <div><strong>Gabriel Geraldino (apolo2)</strong></div>
                <a class="daisy-link break-all" href="https://geraldino2.com" rel="noreferrer nofollow">https://geraldino2.com</a>
                <a class="daisy-link break-all" href="mailto:gabriel@geraldino2.com" rel="noreferrer nofollow">gabriel@geraldino2.com</a>
            </div>
            <hr class="daisy-separator daisy-separator--medium">
            <div class="about-card">
                <span class="rtg-fade daisy-tag my-spacing-8 daisy-tag--light-green daisy-tag--smaller daisy-tag--rounded daisy-tag__text inline-block cursor-pointer">Open for employment</span>
                <div class="page-content">
                    <a class="daisy-link margin-5--left margin-5--right" href="https://www.linkedin.com/in/gabriel-geraldino" target="_blank" rel="noopener noreferrer"><img class="better-avatar no-border-tiny" src="/img/linkedin.png"></a>
                    <a class="daisy-link margin-5--left margin-5--right" href="https://hackerone.com/apolo2" target="_blank" rel="noopener noreferrer"><img class="better-avatar no-border-tiny" src="/img/hackerone.png"></a>
                    <a class="daisy-link margin-5--left margin-5--right" href="https://github.com/geraldino2" target="_blank" rel="noopener noreferrer"><img class="better-avatar no-border-tiny" src="/img/github.png"></a>
                </div>
            </div>
        </div>
    </div>
</div>