<div class="daisy-grid__column daisy-grid__column--one-quarter">
    <div class="card">
        <div class="card__content">
            <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
                <div><img class="daisy-avatar daisy-avatar--large" src="/img/avatar.jpg" alt="apolo2" title="Gabriel Geraldino"></div>
                <div><strong>Gabriel Geraldino (apolo2)</strong></div>
                <a class="daisy-link break-all" href="https://geraldino2.com" rel="noreferrer nofollow">https://geraldino2.com</a>
            </div>
            <hr class="daisy-separator daisy-separator--medium">
            <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;"><span class="rtg-fade daisy-tag my-spacing-8 daisy-tag--light-green daisy-tag--smaller daisy-tag--rounded">
                    <span class="daisy-tag__text"><span class="inline-block cursor-pointer">Open for employment</span></span>
                </span>
                <div style="margin-top:16px">
                    <a class="daisy-link margin-5--left margin-5--right" href="https://www.linkedin.com/in/gabriel-geraldino" target="_blank" rel="noopener noreferrer"><img class="better-avatar no-border-tiny" src="x"></a>
                    <a class="daisy-link margin-5--left margin-5--right" href="https://bugcrowd.com/apolo2" target="_blank" rel="noopener noreferrer"><img class="better-avatar no-border-tiny" src="x"></a></div>
            </div>
        </div>
    </div>
</div>