<div class="fade fade--show">
    <div class="hacktivity-item"><a class="daisy-link daisy-link margin-16--right" href="{{ .context.Params.vdp_url }}" target="_blank" rel="noopener noreferrer">
            <div><img class="daisy-avatar daisy-avatar--medium" src="{{ .context.Params.company_avatar }}" alt="{{ .context.Params.company }}" title="{{ .context.Params.company }}"></div>
        </a>
        <div>
            {{ if eq .context.Title "" }}
                <span class="component-placeholder__text censored-title"></span>
            {{ else }}
                {{ if eq .context.Params.report_url "" }}
                <span class="daisy-link"><strong>{{ .context.Title }}</strong></span>
                {{ else }}
                <a class="daisy-link" href="{{ .context.Params.report_url }}" target="_blank" rel="noopener noreferrer"><strong>{{ .context.Title }}</strong></a>
            {{ end }}
            {{ end }}
            <div class="daisy-helper-text">
                <ul class="daisy-list daisy-list--horizontal daisy-list--separator">
                    <li>
                        <div>
                            <span>Reported to&nbsp;</span>
                            <div class="company-name">
                                <a class="daisy-link" href="{{ .context.Params.vdp_url }}" target="_blank" rel="noopener noreferrer">{{ .context.Params.company }}</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div display="inline-flex" class="daisy-tag-indicator">
                            <div class="daisy-severity-indicator margin-5--right" width="26" height="8">
                            {{ if eq .context.Params.severity "P4" }}
                                <div height="8" class="daisy-severity-indicator__progress daisy-severity-indicator__progress--LOW"></div>
                            </div>
                            <span>Low</span>
                            {{ else if eq .context.Params.severity "P3" }}
                                <div height="8" class="daisy-severity-indicator__progress daisy-severity-indicator__progress--MEDIUM"></div>
                            </div>
                            <span>Medium</span>
                            {{ else if eq .context.Params.severity "P2" }}
                                <div height="8" class="daisy-severity-indicator__progress daisy-severity-indicator__progress--HIGH"></div>
                            </div>
                            <span>High</span>
                            {{ else if eq .context.Params.severity "P1" }}
                                <div height="8" class="daisy-severity-indicator__progress daisy-severity-indicator__progress--CRITICAL"></div>
                            </div>
                            <span>Critical</span>
                            {{ end }}
                        </div>
                    </li>
                    {{ if not (eq .context.Params.bounty 0) }}
                        <li><strong>{{ .context.Params.bounty | lang.FormatAccounting 2 "USD" }}</strong></li>
                    {{ end }}
                    <li>{{ .context.Params.datetime }}</li>
                    <li><a href="{{ .context.RelPermalink }}"><img src="/img/permalink.png" class="permalink"></a></li>
                </ul>
            </div>
            {{ if or (not (eq .context.Content "")) (not (eq .context.Summary "")) }}
                <div class="interactive-markdown text-sm mt-spacing-4">
                    {{ if .full }}
                        {{ if not (eq .context.Summary "") }}
                            <div class="vertical-spacing interactive_markdown__p"><strong>Summary: </strong>{{ .context.Summary }}</div>
                        {{ end }}
                        {{ if not (eq .context.Content "") }}
                            <div class="vertical-spacing interactive_markdown__p">{{ .context.Content }}</div>
                        {{ end }}
                    {{ else }}
                        {{ if not (eq .context.Summary "") }}
                            <div class="vertical-spacing interactive_markdown__p">{{ .context.Summary }}</div>
                        {{ end }}
                        {{ if not (eq .context.Content "") }}
                            <a class="daisy-link daisy-link margin-16--right" href="{{ .context.RelPermalink }}" target="_blank" rel="noopener noreferrer">Read writeup</a>
                        {{ end }}
                    {{ end }}
                </div>
            {{ end }}
        </div>
    </div>
    <hr class="daisy-separator daisy-separator--no-spacing">
</div>